@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Oswald:wght@200..700&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

:root {
    --background: oklch(0.94 0.01 244.70);
    --foreground: oklch(0.14 0 0);
    --card: oklch(0.97 0.00 236.35);
    --card-foreground: oklch(0.14 0 0);
    --popover: oklch(1.00 0 0);
    --popover-foreground: oklch(0.14 0 0);
    --primary: oklch(0.62 0.19 254.61);
    --primary-foreground: oklch(0.99 0 0);
    --secondary: oklch(0.96 0.01 247.89);
    --secondary-foreground: oklch(0.20 0 0);
    --muted: oklch(0.93 0.02 250.59);
    --muted-foreground: oklch(0.19 0.00 264.48);
    --accent: oklch(0.89 0.02 248.03);
    --accent-foreground: oklch(0.20 0 0);
    --destructive: oklch(0.58 0.24 28.48);
    --border: oklch(0.75 0.06 251.04);
    --input: oklch(0.78 0.07 250.77);
    --ring: oklch(0.71 0.05 249.47);

    --font-sans: 'Geist', 'Geist Fallback', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: "Geist", "Geist Fallback", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: "Geist Mono", "Geist Mono Fallback", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --radius: 0.625rem;

    --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
    --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
    --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
    --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
    --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
    --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
    --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
    --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
}

.dark {
    --background: oklch(0.15 0.03 249.45);
    --foreground: oklch(0.99 0 0);
    --card: oklch(0.21 0.04 251.55);
    --card-foreground: oklch(0.99 0 0);
    --popover: oklch(0.27 0.06 252.20);
    --popover-foreground: oklch(0.99 0 0);
    --primary: oklch(0.56 0.15 253.76);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.29 0.00 228.82);
    --secondary-foreground: oklch(0.99 0 0);
    --muted: oklch(0.27 0.06 252.20);
    --muted-foreground: oklch(0.65 0.07 249.60);
    --accent: oklch(0.40 0.10 253.29);
    --accent-foreground: oklch(0.99 0 0);
    --destructive: oklch(0.70 0.19 22.23);
    --border: oklch(0.26 0.04 249.53);
    --input: oklch(0.43 0.11 251.54);
    --ring: oklch(0.56 0.15 253.76);

    --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
    --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
    --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
    --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
    --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
    --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
    --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
    --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
}

@custom-variant dark (&:where(.dark, .dark *));
@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@layer base {
    * {
        @apply box-border;
    }
    body {
        @apply bg-background text-foreground p-0 m-0 w-full min-h-dvh;
    }
}